@{
    ViewData["Title"] = "Оскарження штрафу ТЦК";
    string advokatinlaw = "advokatinlaw";
}
<style>
    .bg-gray-50{
        background-color: gray !important;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        color: #033d5a;
    }
    .cursor-pointer:hover {
        cursor: pointer;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    header {
        background-color: #033d5a;
        color: #ffffff;
        text-align: center;
        padding: 20px;
    }

    h1 {
        margin: 0;
    }

    .bg-gold {
        background-color: #d7af57 !important;
    }

    .bg-blue {
        background-color: #033d5a !important;
    }
    .bg-blue-50 {

    }
    .text-gold {
        color: #d7af57 !important
    }

    .text-blue {
        color: #033d5a !important
    }

    .hero {
        background-color: #d7af57;
        color: #033d5a;
        text-align: center;
        padding: 40px 20px;
    }

    .btn {
        display: inline-block;
        background-color: #033d5a;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 18px;
    }

    .btn:hover {
        background-color: #022c44;
        color: #ffffff !important
    }

    .section {
        text-align: center;
    }

    .footerr {
        background-color: #033d5a;
        color: #ffffff;
        text-align: center;
    }
    .h-60 {
        line-height: 60px;
    }
    .millitary-back {
        background-color: gray !important;
        background-image: url(source/Ukrainian_military_vehicle_pixel_camouflage,_2016_pattern.svg.png);
        background-size: 100px 100px;
    }
    .opacity-03{
        opacity: .3 !important;
    }

    .link-secondary{
        color: white !important;
        transition: .3s ease;
    }
    .link-secondary:hover {
        color: #6c757d !important;
        transition: .3s ease;
    }
    .pencil {
        list-style: url(C:\Users\DimZay\Documents\Code\C#\TestLending\TestLending\wwwroot\source\)
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="оскарження штрафу, повістка, неявка по повістці, штраф суд, як оскаржити штраф, неявка до військкомату, відповідальність за неявку, військкомат, позов до суду, законність штрафу, Кодекс України про адміністративні правопорушення, мобілізація, судова практика">
<meta name="author" content="Адвокат">

<meta property="og:title" content="Оскарження штрафу за неявку по повістці">
<meta property="og:description" content="Отримали штраф за неявку по повістці?
Ми допоможемо вам оскаржити його законним шляхом!">
<meta property="og:image" content="">
<meta property="og:type" content="article">
<p class="text-center fs-4 fw-bold">Для кого ця інформація може бути важливою</p>
<div class="row justify-content-around">
    <div class="card border-0 col-md-3">
        <div class="card-body mx-auto align-content-center row" style="width: 240px !important">
            <p class="text-center text-blue m-0 p-0" style="height: 210px !important; width:240px !important">
                <img src="~/source/helmet.png" class="" style="max-width: 120px" /><br /><b class="fw-bold fs-6 text-nowrap">Військово-зобов'язаним,</b><br /><b class="fw-bold fs-6">які отримали<br />штраф від ТЦК.</b>
            </p>
                <hr />
            <p class="m-0 p-0 text-center">
                Хочете оскаржити штраф, але не знаєте з чого почати?
            </p>
        </div>
    </div>
    <div class="card border-0 col-md-3">
        <div class="card-body mx-auto align-content-center row" style="width: 240px !important">
            <p class="text-center text-blue m-0 p-0 fw-bold fs-5" style="height: 210px !important; width:240px !important">
                <img src="~/source/scale.png" class="" style="max-width: 120px" /><br /><b class="fw-bold fs-6 text-nowrap">Призовникам,</b><br /><b class="fw-bold fs-6">які вважають штраф незаконним.</b>
            </p>
            <hr />
            <p class="m-0 p-0 text-center">
                Не впевнені у своїх правах та обов'язках?
            </p>
        </div>
    </div>
    <div class="card border-0 col-md-3">
        <div class="card-body mx-auto align-content-center row" style="width: 240px !important">
            <p class="text-center text-blue m-0 p-0 fw-bold fs-5" style="height: 210px !important; width:240px !important">
                <img src="~/source/shield.png" class="" style="max-width: 120px" /><br /><b class="fw-bold fs-6 text-nowrap">Всім, хто хоче</b><br /><b class="fw-bold fs-6">захистити свої права у відносинах з ТЦК.</b>
            </p>
            <hr class="mx-auto" />
            <p class="m-0 p-0 text-center">
                Боїтеся, що оскарження буде складним та дорогим?
            </p>
        </div>
    </div>
</div>
<div class="w-100 millitary-back bg-secondary my-3 rounded">
    <div class="w-100 bg-dark-transparent rounded">
        <div class="row justify-content-center m-0 p-0 opacity-100 pt-4">
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2 ">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/scroll.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Підстави для оскарження штрафу ТЦК.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/government.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Порядок оскарження штрафу.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/folder.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold m-0 p-0">Необхідні документи для оскарження.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/balance (1).png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold m-0 p-0">Ваші права та як їх захистити.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/warning.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Типові помилки при оскарженні та як їх уникнути.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/writing.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Як правильно скласти скаргу.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/cam.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Як зібрати необхідні докази.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/speak.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Як поводитися під час розгляду скарги.</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-lg-2   justify-content-center text-center rounded border-1 p-1 m-2">
                <div class="bg-light rounded w-100 h-100 align-content-start justify-content-center row m-0 p-0">
                    <img src="~/source/return.png" class="mx-auto my-2 p-0" style="max-width: 50px" />
                    <br />
                    <p class="text-center text-blue fw-bold">Що робити, якщо вашу скаргу відхилили.</p>
                </div>
            </div>
           @*  <div class="col-5 col-md-4 col-lg-2 justify-content-center text-center rounded border-1 p-1 m-2">
            </div> *@
        </div>

        <div class="text-center  my-5 py-5">
            <div class=" bg-gold text-blue">
                <h2>Отримали штраф за неявку по повістці?</h2>
                <p>Ми допоможемо вам оскаржити його законним шляхом!</p>
            </div>
            <a href="tel:+380675490959" class="btn">Замовити оскарження</a>
        </div>
    </div>
</div>

<div class="w-100 mt-2">
    <p class="text-center fs-4 fw-bold">Що ви отримаєте в результаті</p>

    <div class="col-12">
        <div class="d-flex justify-content-center">
            <img src="~/source/rich-man.png" class="my-2 p-0 me-2" style="max-width: 80px" />
            <b class="m-0 p-0 fs-5 fw-bold border-bottom align-content-end mb-3">
               Зрозумієте, чи є підстави для оскарження вашого штрафу.
            </b>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <img src="~/source/list.png" class="my-2 p-0 me-2" style="max-width: 80px" />
            <b class="m-0 p-0 fs-5 fw-bold border-bottom align-content-end mb-3">
               Зрозумієте, чи є підстави для оскарження вашого штрафу.
            </b>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <img src="~/source/shield (1).png" class="my-2 p-0 me-2" style="max-width: 80px" />
            <b class="m-0 p-0 fs-5 fw-bold border-bottom align-content-end mb-3">
                Зрозумієте, чи є підстави для оскарження вашого штрафу.
            </b>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
            <img src="~/source/money-bag.png" class="my-2 p-0 me-2" style="max-width: 80px" />
            <b class="m-0 p-0 fs-5 fw-bold border-bottom align-content-end mb-3">
                Зрозумієте, чи є підстави для оскарження вашого штрафу.
            </b>
        </div>
    </div>

</div>

<div class="mt-5">
    <section class="section mb-3">
        <h2>Чому саме ми?</h2>
    </section>
    <p>Наш досвідчений адвокат Дмитро спеціалізується на питаннях адміністративного права і готовий надати професійну підтримку в оскарженні штрафів за неявку по повістці. Чому важливо обрати саме нас?</p>
    <ul>
        <li><strong>Досвід та професіоналізм:</strong> Дмитро має багаторічний досвід у сфері права і успішно вирішив безліч справ, пов'язаних з оскарженням штрафів.</li>
        <li><strong>Індивідуальний підхід:</strong> Ми зрозуміємо вашу унікальну ситуацію та підберемо оптимальні рішення для вашої справи.</li>
        <li><strong>Комплексна підтримка:</strong> Від первинної консультації до супроводу в суді — ми знаходимося з вами на кожному кроці.</li>
    </ul>
</div>
<div class="mt-5">
    <section class="section mb-3">
        <h2>Ваші права</h2>
    </section>

    <p>Нагадаємо, що в Україні кожен громадянин має право оскаржити штраф за неявку по повістці. Ви можете захистити свої інтереси, якщо вам виставили штраф, але ви мали об'єктивні причини для неявки. Причини для неявки можуть бути різноманітними, і ми допоможемо вам обґрунтувати їх документально.</p>
    <p>Ось деякі з підстав, які можуть бути прийняті до уваги:</p>
    <ul>
        <li><strong>Медичні обставини:</strong> Якщо ви мали серйозні проблеми зі здоров'ям або лікування, яке перешкоджало вашій явці, ви зможете навести довідки від лікаря чи медичні документи.</li>
        <li><strong>Відсутність за кордоном:</strong> Якщо ваше перебування за межами країни було легальним, прикріпіть документи, що підтверджують цей факт, наприклад, візи, проїзні квитки, або довідки.</li>
        <li><strong>Сімейні обставини:</strong> Ситуації, пов’язані з крайніми обставинами в родині, такими як смерть або серйозне захворювання близького родича, також можуть бути підставою для оскарження.</li>
        <li><strong>Проблеми з комунікацією:</strong> Якщо ви не отримали повістку вчасно або вона була відправлена на неправильну адресу, це теж дає вам підстави оскаржити штраф.</li>
    </ul>
</div>
<div class="mt-5">
    <section class="section mb-3">
        <h2>Кроки до оскарження</h2>
    </section>
    <p>Оскарження штрафу — це процес, який вимагає певних дій з вашого боку. Для цього ми рекомендуємо дотримуватися наступних кроків:</p>
    <ol>
        <li><strong>Збір доказів.</strong> Найважливішим етапом є підготовка документів, які підтверджують вашу позицію. Включайте всі наявні медичні довідки, документи про виїзди, свідчення інших людей.</li>
        <li><strong>Підготовка та подача апеляційної скарги.</strong> На цьому етапі наша команда з адвокатом підготують всі необхідні документи для подачі скарги в орган, який наклав штраф. Важливо чітко і структуровано викласти вашу позицію, щоб звернення було розглянуто належним чином.</li>
        <li><strong>Розгляд скарги органами.</strong> Після подачі скарги, ваша справа буде розглянута відповідними органами. Ми будемо тримати вас у курсі усіх етапів розгляду, щоб ви знали, чого чекати.</li>
        <li><strong>Очікування рішення.</strong> Ви отримаєте офіційний лист з відповіддю на вашу скаргу. У разі відхилення, не хвилюйтеся! Ви можете звернутися до суду для подальшого оскарження.</li>
    </ol>
</div>
<div class="mt-5">
    <section class="section mb-3">
        <h2>Звернення за допомогою до адвоката</h2>
    </section>

    <p>Оскарження штрафу може бути складним процесом, і важливо мати надійну правову підтримку. Наш адвокат Дмитро готовий допомогти вам на кожному етапі. Ми надаємо такі послуги:</p>
    <ul>
        <li><strong>Консультації з питань оскарження штрафів:</strong> Довідки про ваші права та обов'язки, а також рекомендації по діям.</li>
        <li><strong>Підготовка документації:</strong> Наша команда підготує всі необхідні юридичні документи для вашого випадку.</li>
        <li><strong>Представництво ваших інтересів у суді:</strong> У разі потреби, ми будемо представляти вас в судових установах та захищати ваші права.</li>
        <li><strong>Супровід переговорів з державними органами:</strong> Можливість ведення переговорів від вашого імені для досягнення кращого результату.</li>
    </ul>
    <p>Звернувшись до нашого адвоката, ви отримаєте надійну допомогу і комфорт у вирішенні вашої правової проблеми.</p>

</div>
<div class="d-flex justify-content-around">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1_wrWBuaZ4o?si=jbvPYrK-TELTzWwJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
@* <div class="section" id="consultation">
    <h2>Безкоштовна консультація</h2>
    <p>Залиште свої контактні дані, і наш юрист зв’яжеться з вами.</p>
    <form>
        <input type="text" placeholder="Ваше ім'я" required>
        <input type="tel" placeholder="Ваш телефон" required>
        <button type="submit" class="btn">Надіслати</button>
    </form>
</div> *@

@* <div class="footer mt-1">
    <p>&copy; 2025 Всі права захищені.</p>
</div> *@