<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestLending</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.7.2-web/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.7.2-web/css/solid.css" />
    <link rel="stylesheet" href="~/TestLending.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @{
        string advokatinlaw = "advokatinlaw";
    }
    @* <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestLending</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <header class="row m-0 p-0 justify-content-center align-content-start millitary-back" style="min-height: 400px !important">
        <div class="bg-dark-transparent w-100 h-100 p-0 row m-0 p-0 justify-content-center align-content-start " style="min-height: 400px !important">
            <div class="d-flex bg-danger">
                <div class="container py-1 d-flex justify-content-between">
                    <div class="d-flex justify-content-end">
                        <div class="d-flex align-content-center mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-1 my-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                            <b class="me-1">
                                :
                            </b>
                            <a href="tel:+380675490959" class="fw-bolder link-secondary text-decoration-none">
                                (067) 549-09-59
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="align-content-center mx-2">
                            <a href="https://www.facebook.com/abmatviychuk">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-facebook text-white" viewBox="0 0 16 16">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                                </svg>
                            </a>
                        </div>

                        <div class="align-content-center mx-2">
                            <a href="https://www.tiktok.com/@advokatinlaw">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-tiktok text-white" viewBox="0 0 16 16">
                                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                                </svg>
                            </a>
                        </div>

                        <div class="align-content-center mx-2">
                            <a href="https://www.instagram.com/lawyer_matviychuk/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-instagram text-white" viewBox="0 0 16 16">
                                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-0 px-sm-3 py-2 m-0 p-0 mt-4" style="">
                <div class="card d-inline-block border-0">
                    <div class="card-header bg-blue border-0">
                        <h1 class=" fs-2" style="font-weight: 600">Оскарження штрафу ТЦК: Захистіть свої права!</h1>
                    </div>
                    <div class="card-body bg-gold border-0" style="border-bottom-left-radius: .25rem !important; border-bottom-right-radius: .25rem !important; font-weight: 500">
    @* 
                        <ul class="list-unstyled">
                            <li>
                                Ви отримали штраф від ТЦК, але не впевнені, чи він законний?
                            </li>
                            <li>
                                Вас змушують платити штраф, з яким ви не згодні?
                            </li>
                            <li>
                                Не знаєте, як діяти в такій ситуації?
                            </li>
                        </ul> *@
                        <p class="text-blue mb-4 p-0 mx-auto fs-4" style="max-width: 630px; line-height: 20px; font-weight: 525 !important">
                            Ми допоможемо вам захистити свої права та оскаржити штраф законним шляхом!
                            Наша команда юристів має великий досвід у військовому праві та знає всі нюанси оскарження адміністративних стягнень.
                        </p>

                        <a href="tel:+380675490959" class="btn text-white">Замовити оскарження</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footerr text-muted mt-2 p-0 text-white">
        <div class="container text-white">
            <div class="row justify-content-around">
                <div class="col-12 d-flex justify-content-around">
                    <div class="justify-content-center">
                        <p class="fs-4 fw-bold mb-1 text-nowrap">Адвокат МАТВІЙЧУК</p>
                        <p class="fw-normal text-center mx-0 mx-sm-auto mw-big-screen" style="font-size: 15px;line-height: 20px">
                            Надаю послуги у різних галузях права: цивільного, арбітражного, кримінального та ін. Моїми клієнтами є мешканці як столиці, так і інших міст України. Для вирішення завдань, які стоять перед нашим клієнтом, я готовий надати одноразову допомогу правовому характеру або співпрацювати на постійній основі.
                        </p>
                    </div>
                    <div class="ms-4">
                        <p class="fs-4 fw-bold mb-1">Контакти</p>

                        <p class="m-0 p-0 text-nowrap text-start fs-5">
                            <i class="fa-solid fa-phone me-2"></i> <a href="tel:+380675490959" class="fw-bold link-secondary text-decoration-none">(067) 549-09-59</a>
                        </p>
                        <p class="m-0 p-0 text-nowrap text-start fs-5">
                            <i class="fa-solid fa-location-dot me-2"></i>02000 Україна, Київ
                        </p>
                        <p class="m-0 p-0 text-nowrap text-start fs-5">
                            <i class="fa-solid fa-pencil me-2"></i><a href="mailto:d@matviychuk.net" class=" link-secondary text-decoration-none">d@matviychuk.net</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-around">
                    <div class="ms-2">
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center text-white m-0 p-0" style="font-size: 14px">
            2023 ©. Всі права захищені.<a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </p>
        <div class="d-flex bg-danger">
            <div class="container d-flex justify-content-end py-1">
                <div class="align-content-center mx-2">
                    <a href="https://www.facebook.com/abmatviychuk">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-facebook text-white" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951" />
                        </svg>
                    </a>
                </div>

                <div class="align-content-center mx-2">
                    <a href="https://www.tiktok.com/@advokatinlaw">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-tiktok text-white" viewBox="0 0 16 16">
                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                        </svg>
                    </a>
                </div>

                <div class="align-content-center mx-2">
                    <a href="https://www.instagram.com/lawyer_matviychuk/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-instagram text-white" viewBox="0 0 16 16">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
